/HelloWorld/.vs
/HelloWorld/Bundles
/HelloWorld/BundlesCache
/HelloWorld/HotAssembly/.vs
/HelloWorld/HotAssembly/bin
/HelloWorld/HotAssembly/obj
/HelloWorld/HybridCLRData
/HelloWorld/Library
/HelloWorld/Logs
/HelloWorld/MemoryCaptures
/HelloWorld/obj
/HelloWorld/Temp
/HelloWorld/*.csproj
/HelloWorld/*.sln

/Build/HelloWorld*
/Build/build.log

/HelloWorld/Assets/XAsset/Config/PackedAssets.asset