/HelloWorld/.vs
/HelloWorld/Bundles
/HelloWorld/HotAssembly/.vs
/HelloWorld/HotAssembly/bin
/HelloWorld/HotAssembly/obj
/HelloWorld/HotAssembly/*.csproj
/HelloWorld/HybridCLRData
/HelloWorld/Library
!/HelloWorld/Library/*.asset
/HelloWorld/Library/SpriteAtlasDatabase.asset
/HelloWorld/Logs
/HelloWorld/MemoryCaptures
/HelloWorld/obj
/HelloWorld/ProjectSettings/CustomerPreference.asset
/HelloWorld/Temp
/HelloWorld/TextToolDatas
/HelloWorld/UserSettings
!/HelloWorld/UserSettings/*.asset
/HelloWorld/yoo
/HelloWorld/*.csproj
/HelloWorld/*.sln

/Build/Android
/Build/iOS
/Build/WebGL
/Build/build.log

/HelloWorld/Assets/HybridCLRData
/HelloWorld/Assets/Scripts/SubScripts/Config/Auto/*.meta
/HelloWorld/Assets/Scripts/SubScripts/Scene/Auto/*.meta
/HelloWorld/Assets/Scripts/SubScripts/UI/Auto/*.meta
/HelloWorld/Assets/StreamingAssets
/HelloWorld/Assets/ZRes/Assembly
/HelloWorld/Assets/ZRes/DataConfig/*.meta

/SDK/.gradle
/SDK/.idea